@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --max-width: 1200px;
    --font-mono: 'Courier New', Courier, monospace;
    --callout-rgb: 255, 255, 255;
    --callout-border-rgb: 0, 0, 0;
    --border-radius: 8px;
    --card-rgb: 255, 255, 255;
    --card-border-rgb: 0, 0, 0;
    --secondary-glow: rgba(255, 255, 255, 0.5);
    --primary-glow: rgba(255, 255, 255, 0.3);
    --tile-border: linear-gradient(to bottom right, #ff7e5f, #feb47b);
    --tile-start-rgb: 255, 126, 95;
    --tile-end-rgb: 254, 180, 123;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 240, 240, 240;
  }
  